.border-btn {
    display: inline-block;
    position: relative;

    padding-left: 32px;
    padding-right: 32px;

    font-size: 15px;
    height: 40px;
    line-height: 40px;

    text-align: center;
    color: #2ac1a0;
    background-color: #f8f8f8;
    border: 1px solid #e2e3e4;

    &:active {
        background: #dadada;
    }

    &:hover,
    &:focus {
        border-color: #28dcb4;
        transition: border-color .4s cubic-bezier(.23,1,.32,1),background .4s cubic-bezier(.23,1,.32,1);
    }
}
