.main-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
}

.contacts-page .blue-title {
    padding-top: 45px;
    margin-bottom: 45px;
    font-size: 20px;
    color: #0a3fb4;
}
