.promoted {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fefefe;

    @media screen and (max-width: 730px) {
        display: none;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        padding-top: 20px;
        margin-bottom: 15px;
        font-size: 22px; 
        font-weight: 600;

        color: #020c226d;
        transition: color 1.4s cubic-bezier(.23,1,.32,1);
    }

    &__content span {
        font-size: 13px;
        color: #606778;
        transition: color 1.4s cubic-bezier(.23,1,.32,1);
    }
}

.promoted__wrapper:hover {
    .promoted__title {
        color: #0a3fb4;
        transition: all .4s cubic-bezier(.23,1,.32,1);
    }

    .promoted__content span {
        color: #020c22;
        transition: all .4s cubic-bezier(.23,1,.32,1);
    }
}